*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-primary-color: #3b2552;
  --main-heading-font-family: "Saira Extra Condensed", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}
body {
  margin: 0;
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.page {
  padding-top: 0;
  padding-left: 17rem;
  color: #6c757d;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-family: var(--main-heading-font-family);
  font-weight: 700;
  line-height: 1.2;
  color: #343a40;
  text-transform: uppercase;
}

nav {
  background-color: var(--main-primary-color);
  height: 100vh;
  width: 17rem;
  color: #fff;
  display: flex;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding: 0.5rem 1rem;
  /* flex-flow: row nowrap;
    justify-content: flex-start; */
}
.hamburger {
  display: none;
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
}
.navbar-toggler:focus:not(:hover){
  outline:0
}
nav .brand {
  font-size: 1.25rem;
  align-items: center;
  line-height: inherit;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
}
.navbar-toggler-icon {
  background-image: url("./images/bars.svg");
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background-size: 100% 100%;
}
nav img.avtar {
  width: 10rem;
  height: 10rem;
  background-size: cover;
  background-position: center;
  border-radius: 55%;
  border: 0.5rem solid rgba(255, 255, 255, 0.2);
}
/* .collapse{}  */
.navbar-collapse {
  width: 100%;
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  width: 100%;
}
.nav-item {
  display: block;
  text-align: center;
}

.nav-link {
  display: block;
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  text-decoration: none;
}

.nav-link.active {
  color: #fff;
  text-decoration: none;
}
.nav-link:hover:not(.active) {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
}

/* container */
.container {
  width: 100%;
}

.resume-section {
  display: flex;
  align-items: center;
  max-width: 75rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.resume-section,
.resume-section-content {
  width: 100%;
}

/* about */
h1 {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  font-family: var(--main-heading-font-family);
  font-weight: 700;
  line-height: 1;
  color: #343a40;
}
.text-primary {
  color: var(--main-primary-color);
}
.subheading {
  font-family: var(--main-heading-font-family);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
a {
  color: var(--main-primary-color);
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #3b1c5a;
  text-decoration: underline;
}

.lead {
  font-size: 1.15rem;
  font-weight: 400;
  margin-bottom: 3rem;
}

.social-icons .social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff;
  border-radius: 100%;
  font-size: 1.5rem;
  margin-right: 1.5rem;
}
.social-icons .social-icon:hover {
  background-color: var(--main-primary-color);
}

/* experience education*/
h2 {
  margin-bottom: 3rem;
  font-size: 3.5rem;
}

.content-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3rem;
  /* flex-direction: column; */
}
.content-block .area {
  flex-grow: 1;
}
h3 {
  font-size: 2rem;
  margin-top: 0;
}
h5 {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 400;
  color: #6c757d;
  margin-top: 0;
}
.content-block .area .title {
  margin-bottom: 0;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.content-date {
  flex-shrink: 0;
}

/* skills */
.skills-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
}
.list-inline-item {
  display: inline-block;
}
.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}
/* awards */
.text-warning {
  color: #ffc107;
}


@media (max-width: 992px) {
  .page {
    padding-left: 0;
  }
  nav {
    width: 100%;
    height: unset;
    z-index: 10;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  nav .brand p {
    margin: 0;
  }
  .hamburger {
    display: inline-block;
  }
  nav img.avtar {
    display: none;
  }
  .nav-link {
    padding-left: 0;
  }
  .nav-item {
    text-align: unset;
  }
  .collapse {
    display: none;
  }
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
  }
  .content-block {
    flex-wrap: wrap;
  }
  .resume-section {
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .resume-section {
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
